.icon-add
.icon-delete
.icon-grid
.icon-reset
.icon-save
.icon-user
.icon-user-add {
    background: #f3f2e2 url(/assets/images/smalls.jpg) no-repeat;
}

.icon-user {
    /*background-image: url(/assets/images/user.png) !important;*/
    background-position: 0% 0%;
}

.icon-user-add {
    background-image: url(/assets/images/user_add.gif) !important;
}

.icon-save {
    background-image: url(/assets/images/save.gif) !important;
}

.icon-reset {
    background-image: url(/assets/images/stop.png) !important;
}

.icon-grid {
    background-image: url(/assets/images/grid.png) !important;
}

.icon-add {
    /*background: #f3f2e2 url(/assets/images/smalls.jpg) no-repeat;*/
    background-image: url(/assets/images/add.png) !important;
    /*background-position: 0% 5% !important;*/
}

.icon-delete {
    background-image: url(/assets/images/delete.png) !important;
}
